<div class="jumbotron jumbotron-fluid bg-dark text-secondary text-center">
  <div class="container">
    <h1 class="display-1">Welcome to DevNotes</h1>
    <p class="lead">Notes about how to develop applications.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Node.js Training</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores in, nesciunt molestiae reiciendis quibusdam, iusto consequuntur. Voluptatum dolorum est nihil sit harum atque itaque. Tempora!</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Bootstrap Training</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores in, nesciunt molestiae reiciendis quibusdam, iusto consequuntur. Voluptatum dolorum est nihil sit harum atque itaque. Tempora!</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Vue.js Training</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores in, nesciunt molestiae reiciendis quibusdam, iusto consequuntur. Voluptatum dolorum est nihil sit harum atque itaque. Tempora!</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">MongoDb Training</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores in, nesciunt molestiae reiciendis quibusdam, iusto consequuntur. Voluptatum dolorum est nihil sit harum atque itaque. Tempora!</p>
        </div>
      </div>
    </div>
  </div>
</div>
